.containerSecao{
    display: flex;
    margin: 14%;
    
  }

  #imagemAnimada:hover{
    padding: 15px;
    transition:padding 0.5s;
  }

  @media(max-width: 900px) {
    .containerSecao{
      display: flex;
      flex-direction: column;
      width: 60%;
      left: 10%;
    }
  }